@media (max-width: 1200px) {
    .container {
        Max-width: 960px
    }
}

@media (max-width: 992px) {
    .container {
        Max-width: 750px
    }
    .section__title{
        font-size: 17px;
    }
}

@media (max-width: 768px) {
    .container {
        Max-width: none
    }
    .section__title{
        font-size: 26px;
    }
    .section__title{
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .section__title{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .section__title{
        font-size: 14px;
    }
}