* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --range: 10%;
  --vertical: 10%;
  --blur: 10%;
  --spread: 10%;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}


body {
  font-family: 'PT Sans', sans-serif;
  color: #FFFFFF;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1070px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col-6 {
  width: 50%;
  padding: 0 15px;
}

.section {
  min-height: 100vh;
  background: #1D1C25;

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-shadow: 0 2px 12px #FC3E81;
    margin: 0 0 90px;
    padding-top: 90px;
  }
}

.settings {
  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin: 11px 0 14px;
  }

  &-color {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-range {
    max-width: 300px;
  }
}

.input-box{
  margin-bottom: 20px;
}

.box {
  background: #FFFFFF;
  box-shadow: 9px 9px 12px 3px rgba(155, 224, 88, 0.8);
  border-radius: 20px;
  width: 390px;
  height: 490px;
  text-align: center;
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-shadow__code {
    background: #F1F0F0;
    border: 1px solid rgba(29, 28, 37, 0.66);
    box-sizing: border-box;
    border-radius: 20px;
    width: 350px;
    height: 89px;
    margin-top: 31px;
    color: rgba(29, 28, 37, 0.66);
    padding: 20px 0;
  }
}

:root {
  --deg: 5deg;
  --base: #fc3e81;
  --trackball: var(--base);
  --range: 0%;
}


input[type="range"] {
  -webkit-appearance: none;
  width: 300px;
  position: relative;

  &:focus {
    outline: none;

    &::-webkit-slider-thumb {
      // transform: scale(3);
      // transition: 0.5s all ease;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: var(--range);
    height: 2px;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--base);
  height: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: var(--trackball);
  margin-top: -3.5px;
  z-index: 99;
  position: relative;
  transition: 0.5s all ease;
}

input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  cursor: pointer;
  height: 25px;
  padding: 0;
  width: 50px;
  background: #FC3E81;
  border: 2px solid #FFDF46;
  box-sizing: border-box;
  border-radius: 5px;
}


*:focus {
  border-radius: 0;
  outline: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::-webkit-color-swatch {
  border: 0;
  border-radius: 0;
}

::-moz-focus-inner {
  border: 0;
}

::-moz-focus-inner {
  padding: 0;
}

.input-box {
  position: relative;
}

.input-value {
  position: absolute;
  left: var(--range);
  bottom: 50%;
  font-size: 14px;
  transition: 0.5s color ease;
  color: #FC3E81;
}

.vertical-value {
  position: absolute;
  left: var(--vertical);
  bottom: 50%;
  font-size: 14px;
  transition: 0.5s color ease;
  color: #FC3E81;
}

.blur-value {
  position: absolute;
  left: var(--blur);
  bottom: 50%;
  font-size: 14px;
  transition: 0.5s color ease;
  color: #FC3E81;
}

.spread-value {
  position: absolute;
  left: var(--spread);
  bottom: 50%;
  font-size: 14px;
  transition: 0.5s color ease;
  color: #FC3E81;
}
